<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if user_signed_in? %>
        <%= link_to "Food", foods_path, class: "navbar-item has-text-link" %>
        <%= link_to "Recipes", recipes_path, class: "navbar-item has-text-link" %>
        <%# Replace paths below with correct paths when they have been created %>
        <%= link_to "Public recipes", foods_path, class: "navbar-item has-text-link" %>
        <%= link_to "Shopping list", recipes_path, class: "navbar-item has-text-link" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons"> 
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button is-small is-danger is-outlined" %>
        </div>
      </div>
    </div>
  </div>
</nav>
